// 全局基本樣式
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px solid burlywood;
}

body {
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", sans-serif;;
}

/* color 超連結有預設，額外設定顏色繼承父元素的文字顏色 */
a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* 重置 button 元素的預設樣式 */
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    /* font: inherit; */
    color: inherit;
    cursor: pointer;
    outline: none;
    display: inline-block;
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-inline: 12px;

   @media (max-width: 992px){
    max-width: 720px;
    }

    @media (max-width: 767px) {
        max-width: 720px;
    }

    @media (max-width: 576px) {
        max-width: 372px; 
    }
}

