<footer>
    <div class="bg-menu footer-py">
        <div class="container footer">
            <div class="footer-top">
                <div class="footer-content">
                    <ul class="d-flex gap-12">
                        <li><a href="#">首頁</a></li>
                        <li><a href="#">系列鏡框</a></li>
                        <li><a href="#">門市據點</a></li>
                        <li><a href="#">部落格</a></li>
                        <li><a href="#">常見問題</a></li>
                    </ul>
                    <ul class="footer-contact">
                        <li>
                            <a href="tel:+886800-000-000" title="Call us">
                                <span class="material-symbols-outlined material-icons.md-48">call</span>
                                0800-000-000
                            </a>
                        </li>
                        <li>
                            <a href="mailto:glasses@business.com" title="E-mail to us">
                                <span class="material-symbols-outlined">mail</span>
                                glasses@business.com
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="social-list">
                    <li>
                        <img class="" src="images/ic-social-fb.png" alt="Facebook">
                    </li>
                    <li>
                        <img src="images/ic_social_ig.png" alt="Instagram">
                    </li>
                    <li>
                        <img src="images/ic_social_line.png" alt="Line">
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
                <div class="terms">
                <a href="">隱私權政策</a>
                <a href="">服務條款</a>
                </div>
            </div>
        </div>
    </div> 
</footer>
