<nav class=" bg-menu fs-2">
    <div class="container-md-fluid nav">
        <div>
            <a class="logo-link" href="index.html">
                <img src="../assets/images/logo-white.png" alt="logo">
            </a>
        </div>
        <ul class="nav-menu gap-16">
            <li class="nav-list"><a href="shop.html">系列鏡框</a></li>
            <li class="nav-list"><a href="locations.html">門市據點</a></li>
            <li class="nav-list"><a href="blog.html" >部落格</a></li>
            <li class="nav-list"><a href="faq.html">常見問題</a></li>
        </ul>
    </div>
</nav>
