.bg-menu {
  background-color: $primary-color;
  color: $secondary-color;
}

/* nav區塊的容器 */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4px;

  @include mobile-larger {
    flex-direction: column;
    align-items: start;
    padding-inline: 0;
  }
}

/* nav區塊的img的容器 */
/* 把a當作img的容器，且img原先就設定 width: 100%; 寬度自適父元素
  height: auto; 高度自適比例 */
.logo-link {
  max-width: 80px;
  height: 72px;
  display: flex;
  align-items: center;

  @include mobile-larger {
    margin-left: 15px;

  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  
  @include mobile-larger {
    gap: 0px;
    width: 100%;
    flex-wrap: wrap;
    
    .nav-list {
      width: 50%;
      border: 1px solid #ffffff;
      text-align: center;
    }

    .nav-list > a {
      padding-block: 12px;
      font-size: 16px;
    }
    
  }    
}


