.section-inner {
    padding-block: 80px;

    .section-title {
        text-align: center;
        margin-bottom: 48px;

        &-accent {
            color: $accent-color;
        }

        &-secondary {
            color: $secondary-color;
        }
    }
}

@include pad {
   .section-inner .section-title {
        margin-bottom: 24px;
    }
}

@include mobile {
    .section-inner {
        padding-block: 40px;
    }
    
    .section-title {
        font-size: 24px;
    }
}




.bg-main {
    height: calc(100vh - 80px);
    background: url(../images/home-header.png) no-repeat center / cover;

    //767px
    @include mobile-larger {
        height: calc(100vh - 180px);
    }

    // 576px
    @include mobile {
        background: url(../images/home-header-sm.png) no-repeat center / cover;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    > h3 {
        font-size: 36px;

        @include mobile-larger {
            font-size: 28px;   
        }

        @include mobile {
            font-size: 16px;
        }
    }

    > h1 {
        font-size: 64px;
        
        @include mobile-larger {
            font-size: 48px;
        }

        @include mobile {
            font-size: 24px;
        }

    }

}







.about-img {
    display: block;
    width: 100px;
}

.about-subtitle {
    color: $accent-color;
    font-weight: bold;
    font-size: $font-size-fs-1;
    margin-top: 16px;
    margin-bottom: 8px;
}



.feature-title-style {
    color: $primary-color;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    background-color: $secondary-color;

    @media (max-width: 320px) {
        font-size: $font-size-fs-3;
        white-space: pre-wrap;
    }
}

.bg-special {
    background: url(../images/index-bg.png) no-repeat 0% / cover;

    @include pad {
        background: url(../images/index-bg-md.png) no-repeat 0% / cover;
    }
    @include mobile {
        background: url(../images/index-bg-sm.png) no-repeat 0% / cover;

    }
}



.feedback {
    padding: 16px;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-name {
        font-weight: 500;
        margin-bottom: 8px;
    }

    .items-date {
        font-size: $font-size-fs-4;
        color: $info-color;
    }

}

/* .feedback >p:nth-child(3){
    font-size: 14px;
    color: #707070;
}
 */

