@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    outline: 1px solid burlywood;
}

body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

/* color 超連結有預設，額外設定顏色繼承父元素的文字顏色 */
a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* 重置 button 元素的預設樣式 */
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    /* font: inherit; */
    color: inherit;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* base */
/* 一些基礎共用樣式、拉出來 */
/* 欄寬86共12欄+間距24共11個間距＝1296總寬補24px的padding回去  */
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.section-inner {
    padding-block: 80px;
}




/* layout-nav */
.bg-menu {
    background-color: #AA0601;
    color: #FFFFFF;
}

 /* nav區塊的容器 */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 4px;
}

/* nav區塊的img的容器 */
/* 把a當作img的容器，且img原先就設定 width: 100%; 寬度自適父元素
    height: auto; 高度自適比例 */
.logo-link {
    max-width: 80px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}



/* layout-about-card */
.row-card {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
}

.card {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.w-50 {
    width: 50%;
}

/* .col-2 {
    width: 50%;

} */

.col-4 {
    width: 33.333333%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

/* col 式排版的圖片樣式 */
/* .card>img {
    display: block;
    height: auto;
    margin: 0 auto;
} */


/* layout footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
   
} 

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}



.footer-py {
    padding-top: 48px;
    padding-bottom: 32px;
}

.footer-contact {
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer-contact a {
    font-size: 36px;
}


.footer-contact >li:nth-child(1) {
    margin-bottom: 8px;
}


/* 所有第一層li的 a連結 的第一個子元素 */
.footer-contact >li a :nth-child(1){
    padding-right: 16px;
}

/* 加入後可以自定義樣式 */
.footer-contact .material-symbols-outlined {
    font-size: 48px; 
    vertical-align: middle;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    
}

.terms {
    display: flex;
    align-items: center;
    gap: 48px;
    a {
        font-size: 14px;

}
}






.social-list {
    display: flex;
}
    
.social-list li:nth-child(2) {
    margin-left: 32px;
    margin-right: 32px;
}

.social-list img {
       width: 48px;
    }




/* page */
/* _index.scss */

.bg-main {
    height: calc(100vh - 80px);
    background: url(images/home-header.png) no-repeat 0% / cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
}



.about-subtitle {
    color: #650300;
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.about-img {
    display: block;
    width: 100px;
    
}


/* _typography(base) or _titles.scss(conponents) */
/* 文字樣式和文字排版對齊整合 */
.section-title-style {
    color: #650300;
    text-align: center;
    margin-bottom: 48px;
}

.feature-title-style {
    color: #AA0601;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 8px;
}


.bg-special {
    background: url(images/index-bg.png);
}

/* 簡化版寫法：
background: url(images/index-bg.png) no-repeat 0% / cover; 
{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
*/

.feedback {
    padding: 16px;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user-name {
    font-weight: 500;
    margin-bottom: 8px;
}

.items-date {
    font-size: 14px;
    color: #707070;
}


/* .feedback >p:nth-child(3){
    font-size: 14px;
    color: #707070;
}
 */


/* components */
.btn-style {
    background-color: #AA0601;
    color: #FFFFFF;
}

.action-btn {
    padding: 6px 12px;
    font-size: 20px;
}

/* components-form */


/* contact section-form */
/* 重置 <form> 相關樣式 */
form,
input,
label,
textarea {
    padding-inline: 0;
    padding-block: 0;
    border: 0;
    margin: 0;
}

/* 多一個gutter要分給左右兩側 */
.form {
    width: calc(50% - 12px);

    .form-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* 單獨選擇<legend>做樣式設定注意:`前要空格`：
        .form-content :first-child {
        font-size: 20px;
        margin-bottom: 24px; 
        } 
*/
.form-content {

    legend {
        font-size: 20px;
        margin-bottom: 24px;
    }

    label {
        margin-bottom: 8px;
    }

    input {
        line-height: inherit;
        font-family: inherit;
        margin-bottom: 16px;
    }

    textarea {
        height: 136px;
    }
}


/* 注意權重分數
label.checkbox {} 這樣選會選到id選擇器 */
/* 為了覆蓋margin-bottom */
.form-content .checkbox {
    margin: 16px 0 48px;

    input[type="checkbox"] {
        margin: 0;
    }
}

textarea,
input[type="text"] {
    padding-block: 6px;
    padding-left: 12px;
    border: 1px solid #000000;
}

input[type="submit"] {
    margin-bottom: 0;
}

.submit-btn {
    font-size: 16px;
    font-weight: 700;
    padding-block: 16px;
    width: 66.666%;
    margin: 0 auto;
}




/* 考慮增加form的component! */




/* _variables.scss */
/* flex系列 */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col-wrap-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* gap系列 */
.gap-6 {
    gap: 24px;
}

.gap-12 {
    gap: 48px;
}

.gap-16 {
    gap: 64px;
}






/* font-weight */
.fw-bold {
    font-weight: bold;
}


/* font-size */
.h1 {
    font-size: 64px;
    font-weight: 700;
}

.h2 {
    font-size: 48px;
    font-weight: 700;
}

.h3 {
    font-size: 36px;

}

.fs-1 {
    font-size: 24px;
}

.fs-2 {
    font-size: 20px;
}

.fs-3 {
    font-size: 16px;
}

.fs-4 {
    font-size: 14px;
}

/* 寬高設置 */
/* .h-100 {
    height: 100%;
} */


/* 文字排版 */
.ta-c {
    text-align: center;
}


/* 一些間距、行高 */
/* margin */
.mx-auto {
    margin: 0 auto;
}

.mt-1 {
    margin-top: 4px;
}

.mt-20 {
    margin-top: 80px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-6 {
    margin-bottom: 24px;
}

.mb-12 {
    margin-bottom: 48px;
}


/* padding */
.pb-2 {
    padding-bottom: 8px;
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

/* 用不到注意倍數 */
/* .py-1 {
    padding-top: 6px;
    padding-bottom: 6px;
} */


/* color */
/* $accent-color: #650300; */
.accent-color {
    color: #650300;
}

/* $secondary-color: #FFFFFF; */
.secondary-color {
    color: #FFFFFF;
}

/* $bg-color: #FBF2F2; */
.bg-color {
    background-color: #FBF2F2;
}
/* $info-color */
.info-color {
    background-color: #707070;
}