.fw-bold {
    font-weight: bold;
}

/* font-size */
.h1 {
    font-size: $font-size-h1;
    font-weight: 700;
}

.h2 {
    font-size: $font-size-h2;
    font-weight: 700;
}

.h3 {
    font-size: $font-size-h3;
}

.fs-1 {
    font-size: $font-size-fs-1;
}

.fs-2 {
    font-size: $font-size-fs-2;
}

.fs-3 {
    font-size: $font-size-fs-3;
}

.fs-4 {
    font-size: $font-size-fs-4x;
}