// 顏色
$primary-color: #AA0601;
$secondary-color: #FFFFFF;
$accent-color: #650300;
$bg-color: #FBF2F2;
$info-color: #707070;

// 字體、字型
$font-family-primary: "Roboto", sans-serif;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-fs-1: 24px;
$font-size-fs-2: 20px;
$font-size-fs-3: 16px;
$font-size-fs-4: 14px;